.hover-link {
    transition: all 0.3s ease;
    color: inherit;
    text-decoration: none;
  }
  .hover-link:hover {
    color:#e91e63; 
  }
  
  .nav-item-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: none;
    z-index: 10;
    flex-direction: column;
    border-radius: 10px;
  }
  
  .nav-item-wrapper:hover .dropdown {
    display: flex;
  }
  
  .dropdown-item {
    padding: 10px 15px;
    white-space: nowrap;
  }
  

  